{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
                
    
    <div class="news">
        {% if news %}
            
            <h1>Grazie per aver inserito la news</h1>
            <h3>{{ news.title }}</h3>
            <div>{{ news.body }}</div>
            
        {% else %}
        <h1>Inserisci una nuova news</h1>
        <form action="{{ path('news_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <input type="submit" name="submit" value="submit" />
        </form>
            
        {% endif %}
    </div>

    
{% endblock %}